$content-width: 768px;
$main: #ECE9D4;
$font-style: 'Lora', serif;
$font-color: #262626;
$link-color: #333333;
$link-hover-color: #C69214;
$heading-font: 'Lora', serif;
$heading-font-color: #5D2A2C;
$light: #FFFFFF;
$header:  #881C1C;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}